.loading-logo {
    width: 220px;
    animation: breathingOpacity 2s ease-in-out infinite;
  }
  
  @keyframes breathingOpacity {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6; 
    }
    100% {
      opacity: 1;
    }
  }
  .cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  .blurity{
    backdrop-filter: blur("30px")
  }
  .row {
    --mdb-gutter-x:0 !important;
  }
  .custom-dropdown .dropdown-toggle::after {
    display: none !important;
  }
  
  .custom-dropdown .dropdown-toggle:hover,
  .custom-dropdown .dropdown-item:hover {
    background-color: transparent !important;
    color: transparent !important;
  }
  
  .btn-outline-primary {
    border-width: 1px !important; 
  }
  .custom-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #fff !important;
    color: #000 !important; /* black text */
  }
  .marker-tooltip {
  position: absolute;
  background: #222;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  transform: translateX(-50%);
 transform: rotate(180deg);

  top: -25px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.Marker:hover .marker-tooltip,
.Marker-tomorrow:hover .marker-tooltip,
.Marker-yesterday:hover .marker-tooltip {
  opacity: 1;
  

}
