.loading-logo {
  width: 220px;
  animation: breathingOpacity 2s ease-in-out infinite;
}

@keyframes breathingOpacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.blurity {
  backdrop-filter: blur("30px")
}

.row {
  --mdb-gutter-x: 0 !important;
}

.custom-dropdown .dropdown-toggle::after {
  display: none !important;
}

.custom-dropdown .dropdown-toggle:hover,
.custom-dropdown .dropdown-item:hover {
  background-color: transparent !important;
  color: transparent !important;
}

.btn-outline-primary {
  border-width: 1px !important;
}

.custom-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #fff !important;
  color: #000 !important;
  /* black text */
}

.marker-tooltip {
  z-index: 3;
  position: absolute;
  background: #222;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  
  transform: rotate(180deg);

  top: -25px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.Marker:hover .marker-tooltip,
.Marker-tomorrow:hover .marker-tooltip,
.Marker-yesterday:hover .marker-tooltip {
  opacity: 1;
    z-index: 11;


}

/* Styles.css */
.leaflet-control .legend {
  line-height: 1.2;
  background: white;
  padding: 8px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
}

.cont-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* For better spacing on small screens */
  text-align: center;
}

.cont-404 img {
  max-width: 100%;
  height: auto;
  width: 50vw;
}

@media (max-width: 600px) {
  .cont-404 img {
    width: 80vw;
  }
}

.cont-404 button {
  padding: 12px 15px;
  background-color: #25A6B8;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  font-size: medium;
  margin-top: 20px;
}

