* {
  font-family: 'Marcellus', serif;
}

input[type="password"] {
  font-family: 'Marcellus', serif;
}

.main-sidebar .toggle-sidebar {
  border-left: none !important
}

.MainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: -25px;
}


.sideBar {
  box-shadow: 0px 0px 10px 3px #dcdcdc;
}

.Container {
  width: 100%;
}

.statsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.themeWrapper {
  width: 50%;
  padding: 20px;
}

@media (max-width: 500px) {
  .SBWrapper {
    flex: 100%;
    flex-wrap: wrap;
  }

  .StatBox {
    flex: 100%;
  }

  .MainContainer {
    flex: 100%;
    flex-wrap: wrap;
  }

  .sideBar {
    flex: 100%;
  }

  .sensor {
    flex: 100%;
  }

  .sensorWrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .themeWrapper {
    flex: 100%;
  }
}

.SBWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px #dcdcdc;
}

.StatBox {
  width: 30%;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

.StatBox p {
  padding: 0;
  margin: 0;
}

.StatBox:hover,
.sensor:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px #dcdcdc;
}

.SBHeader {
  height: 25%;
  font-size: large;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
}

.SBBody {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.critical {
  color: tomato;
}

.optimal {
  color: mediumseagreen;
}

.full {
  color: dodgerblue;
}

.gMapCanvas {
  overflow: "hidden";
  background: "none";
}

.iFrame {
  width: 100%;
  height: 500px;
  border-radius: 8px;
}

.sensor * {
  margin: 0px;
  padding: 0px;
}

.sensorWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}

.sensor {
  width: 100%;
  display: block;
  background-color: #f6f6f6;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0px;
  box-sizing: border-box;
  background-color: white;
}

.sensorHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sensorNameWrapper {
  max-width: 70%;
  text-overflow: ellipsis;
}

.sensorInfo {
  display: flex;
  flex-direction: row;
  max-width: 30%;
}

.sensorInfo div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
}

.plantWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.plant {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProgressBarWrapper {
  position: "relative";
  padding: .5rem 0rem;
  border-top: 1px solid #eeebeb;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ProgressBarWrapper p {
  font-size: .72rem;
  margin-right: 10px;
}

.ProgressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  position: relative;
}

.stats-dates {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
  overflow: visible;
  /* adjust if needed so bar and marker align nicely */

}

.stats-dates>div:last-child {
  position: relative;
  top: 12px;
  /* adjust if needed so bar and marker align nicely */
}

.Segment1 {
  opacity: 0.2;
  margin: 5px 0px -5px 0px;
  width: 80%;
  height: 15px;
  background-image: linear-gradient(90deg, #ff2866, #f98c66, #bfba2e, #26cc94, #00c7a8, #00b7bc, #00a0db);
}

.Segment2 {
  margin: 0px 0px 0px 5px;
  padding: 0;
  width: 80%;
  height: 15px;
  background-image: linear-gradient(to right, #ff2866, #f98c66, #bfba2e, #26cc94, #00c7a8, #00b7bc, #00a0db);
}

.Segment3 {
  opacity: 0.2;
  margin: -5px 0px 5px 0px;
  width: 80%;
  height: 15px;
  background-image: linear-gradient(to right, #ff2866, #f98c66, #bfba2e, #26cc94, #00c7a8, #00b7bc, #00a0db);
}

.status {
  font-size: .85rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.today {
  font-weight: 500;
}

.Marker {
  position: absolute;
  transform: rotate(180deg);
  margin-top: 1px;
  margin-left: 50px;
  top: -4px;
  z-index: 2;

}

.Marker-tomorrow {
  position: absolute;
  transform: rotate(180deg);
  top: -4px;
  z-index: 2;

  /* margin-left: 60px; */
}

.Marker-yesterday {
  position: absolute;
  transform: rotate(180deg);
  margin-top: 1px;
  margin-left: 20px;

  /* top: -12px;  */
  z-index: 2;
}

.sensorFooter {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.FNBElement {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  position: relative;
  color: green;
}

.FNBElement i {
  position: absolute;
  bottom: 55%;
  font-size: 20px;
}

.FNBElement p {
  position: absolute;
  bottom: -30%;
}

.FNBEDiv {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 5px;
}

.Green {
  color: green;
}

.Gray {
  color: gray;
}

.bg-Green {
  background-color: green;
}

.bg-Gray {
  background-color: gray;
}

.FieldNavBar {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.FieldNavBarFiller {
  width: 100%;
  height: 60px;
}

.redDiv {
  transform: rotate(-105deg);
}

.greenDiv {
  transform: rotate(15deg);
}

.weatherPinWrapper {
  width: 40px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.weatherPinContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 100%;
}

.weatherPinOuterContainer {
  position: absolute;
  z-index: 1;
}

.weather {
  height: 180px;
  width: 100%;
}

.weatherPin {
  position: absolute;
  width: 2px;
  height: 300px;
  background-color: #333;
}

.weatherPinBall {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #333;
}

.weatherPinText {
  margin: 0;
  line-height: 15px;
  position: absolute;
  bottom: 0%;
  background-color: white;
  z-index: 2;
}

.weatherPinValue {
  margin: 0;
  line-height: 15px;
  margin-bottom: 5px;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.sr-only {
  display: none;
}

.border-none {
  border-collapse: collapse;
  border: none;
}

.border-none td th {
  width: 25%;
}

.border-none td {
  border: 1px solid black;
}

.border-none tr:first-child td {
  border-top: none;
}

.border-none tr:last-child td {
  border-bottom: none;
}

.border-none tr td:first-child {
  border-left: none;
}

.border-none tr td:last-child {
  border-right: none;
}

.modal-body {
  overflow-y: auto;
  height: 300px;
}

h5.modal-title {
  width: 100%;
}

h5.modal-title h6 {
  width: auto;
  float: left;
}

.icon-viewed {
  padding: 6px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  transition: all .25s ease-in;
}

.icon-viewed:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.name_user {
  font-size: 12px;
  font-weight: "bold";
}

.name_user:hover {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.detail {
  height: 100%;
  width: 100%;
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
  animation: SHOW-BOX .5s ease;
}

.notif {
  border-left: 2.5px solid #56C3F5;

}

.carousel {
  width: 120px;

}

.carousel .thumbs-wrapper {
  display: none;
  margin: 20px;
  overflow: hidden;
}

.carousel .control-arrow {
  border-left: 8px solid #fff;
}

.modal-dialog-centered {
  align-items: start !important;
}

#table-wrapper {
  position: relative;
}

#table-scroll {
  /* height: 50rem; */
  overflow: hidden;
  margin-top: 20px;
}
 #table-wrapper table {
  width: 50% !important;

} 

#table-wrapper table * {
  color: black;
}

#table-wrapper table thead th .text {
  position: absolute;
  top: -20px;
  z-index: 2;
  height: 20px;
  width: 35%;
  border: 1px solid red;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 75px;
  height: 100%;
  /* background-color: #30D5C8  ; */
  transition: width 0.3s ease;
  border-right: 1px #4d606e solid;
  padding-top: 15px;
}

.sidebar.active {
  width: 250px;
  transition: width 0.3s ease;
}

.info {
  padding: 10px;
  background: white;
  border-radius: 5px;
  width: 100px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

#html5qr-code-full-region {
  border: none !important;
}

#html5qr-code-full-region__scan_region {
  display: none !important;

}

#html5qr-code-full-region img {
  display: none !important;

}

.react-calendar {
  border: none !important;
}

.react-calendar__tile {
  border: none;
}

.satellite-date {
  background-color: #8ad3dd;
  border-radius: 50%;
}